h4 {
  font-weight: bolder;
  font-size: 30px;
}

.city-info {
  color: #4f8a8b;
}

.todays-icon {
  position: relative;
}

.temperature {
  position: relative;
  top: -20px;
}

.temperature-number {
  font-size: 45px;
  display: inline;
}

.weather-temperature .active {
  color: #4f8a8b;
  cursor: default;
}

.units {
  position: relative;
  top: -20px;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
